
<div class="w-100 d-flex">
    <div class="w-25   align-content-center text-center" style="height: 100vh; background-color: rgb(113, 209, 145); border-top-right-radius: 20px; border-bottom-right-radius: 15px;">
        <mat-card appearance="outlined" class="mb-5 w-50 mx-auto">
            <div class="h-50  ">
                <mat-card-content class="w-100"><strong>{{nombre}}</strong></mat-card-content>
            </div>
            
          </mat-card>
          <div class="h-50">
              
              <app-header></app-header>
          </div>
    
    </div>

    <div class="w-100">
      <ngb-alert *ngIf="mostrarAlerta" type="danger" class="text-center" [dismissible]="true">
        <strong>Warning!</strong> No puedes añadir mas productos a esta venta porque ya tiene factura
      </ngb-alert>
    
        
        <div class="text-center mt-5 mb-3">
          
          
          <button class="btn  btn-success" (click)="open(content)">Nueva venta</button>

        </div>
        <div class="w-50 mx-auto" >
          <div class="card shadow-sm" >
            <div class="card-header bg-success text-white text-center fw-bold">
              Productos de la Venta
            </div>
            <div class="card-body">
              <div *ngIf="creandoVentas?.detalleVentas?.length; else noProductos">
                <ul class="list-group">
                  <li class="list-group-item" >
                    <table class="table table-hover mx-auto text-center" >
                      <thead>
                        <tr>
                          
                          <th scope="col">Nombre</th>
                          <th scope="col">Precio</th>
                          <th scope="col">Cantidad</th>
                          <th scope="col">Eliminar linea</th>

                        </tr>
                      </thead>
                      <tbody *ngFor="let v of creandoVentas?.detalleVentas">
                        <tr>
                          <th>{{v.nombreProducto}}</th>
                          <th>{{v.precioProducto}}€</th>
                          <th >{{v.cantida}} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus me-2 ms-2" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                          </svg><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                          </svg>

                          </th>
                          <th><button type="button" class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                          </svg></button>
                          </th>
                          
                        </tr>
                       
                      </tbody>
                    </table>
                  
                  </li>
                </ul>
                <div class="w-100 mx-auto text-center mt-3">
                
                  <button class="btn  btn-success w-25 " (click)="terminarVenta(creandoVentas.id)" >Terminar venta</button>

                </div>
              </div>
              <ng-template #noProductos>
                <p class="text-center text-muted">Añade productos para una nueva venta.</p>
              </ng-template>
              
            </div>
            
          </div>
        </div>
        <hr>
        
    <div class="w-100">

      <h3 class="text-center">Todas las ventas</h3>
      <div class="text-center mt-5 mb-3 d-flex mx-auto w-50" style="justify-content: space-around;">
          
        <button class="btn  btn-info" (click)="verTodasVentas()">Todas las ventas</button> 
        <button class="btn  btn-info" (click)="ventasConFactura()">Con factura</button>
        <button class="btn  btn-info" (click)="ventasEditables()">Editabe</button>
        <button class="btn  btn-info" (click)="ventasTotaVentas()">Mayor total</button>

      </div>
      <div class="card w-75 mx-auto">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Factura</th>
              <th scope="col">Editable</th>
              <th scope="col">Total</th>
              
            </tr>
          </thead>
          <tbody>
            
            <tr *ngFor="let v of todasVentas" (click)="open2(contentE,v)" >
              
              <td>{{v.fecha}}</td>
              <td *ngIf="!v.factura"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
              </svg></td>
              <td *ngIf="v.factura"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="green" class="bi bi-check" viewBox="0 0 16 16">
                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
              </svg></td>
              <td *ngIf="v.terminado"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
              </svg></td>
              <td *ngIf="!v.terminado"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="green" class="bi bi-check" viewBox="0 0 16 16">
                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
              </svg></td>
              <td>{{v.total}}€</td>
              
            </tr>
        
          </tbody>
        </table>

      </div>

    </div>


    </div>
    
    <ng-template #content let-c="close" let-d="dismiss" class="w-100 text-center mx-auto">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">TUs Productos</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
      </div>
      <div class="modal-body">
        <table class="table  table-hover">
          <thead>
            <tr>
              
              <th scope="col">Nombre</th>
              <th scope="col">Precio</th>
              <th scope="col">Stock</th>
              <th scope="col">PrecioProveedor</th>
            </tr>
          </thead>
          <tbody>
            @for (country of productos; track country.nombre) {
              <tr (click)="crearVenta(country.id)">
               
                <td>
                 
                  {{ country.nombre }}
                </td>
                <td>{{ country.precio | number }}</td>
                <td>
                 
                  {{ country.stock }}
                </td>
                <td>{{ country.precioProveedor | number }}</td>
              </tr>
            }
          </tbody>
        </table>
        
        <div class="d-flex justify-content-between p-2">
          <ngb-pagination
            [collectionSize]="collectionSize"
            [(page)]="page"
            [pageSize]="pageSize"
            (pageChange)="refreshCountries()"
          >
          </ngb-pagination>
        
          <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
            <option [ngValue]="2">2 items per page</option>
            <option [ngValue]="4">4 items per page</option>
            <option [ngValue]="6">6 items per page</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="c('Save click')">Save</button>
      </div>
    </ng-template>


    <ng-template #contentE let-c="close" let-d="dismiss" class="w-100">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">TUs Productos Editando</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
      </div>
      <div class="modal-body">
        <table class="table  table-hover">
          <thead>
            <tr>
              
              <th scope="col">Nombre</th>
              <th scope="col">Precio</th>
              <th scope="col">Stock</th>
              <th scope="col">PrecioProveedor</th>
            </tr>
          </thead>
          <tbody>
            @for (country of productos; track country.nombre) {
              <tr (click)="editarVenta(country.id)">
               
                <td>
                 
                  {{ country.nombre }}
                </td>
                <td>{{ country.precio | number }}</td>
                <td>
                 
                  {{ country.stock }}
                </td>
                <td>{{ country.precioProveedor | number }}</td>
              </tr>
            }
          </tbody>
        </table>
        
        <div class="d-flex justify-content-between p-2">
          <ngb-pagination
            [collectionSize]="collectionSize"
            [(page)]="page"
            [pageSize]="pageSize"
            (pageChange)="refreshCountries()"
          >
          </ngb-pagination>
        
          <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
            <option [ngValue]="2">2 items per page</option>
            <option [ngValue]="4">4 items per page</option>
            <option [ngValue]="6">6 items per page</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="c('Save click')">Save</button>
      </div>
    </ng-template>

</div>
